					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Trips" asp-action="All">All Trips</a>
						</li>
    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Trips" asp-action="Mine">My Trips</a>
            </li>
                 <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Trips" asp-action="Mine">Add Trip</a>
                </li>
    }
					</ul>